---
name: "Build & Test"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches: ["*"]
jobs:
  test:
    name: "Run Integration Tests"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-go@v3"
        with:
          go-version: "~1.19"
      - uses: "authzed/action-spicedb@v1"
      - uses: "authzed/actions/go-test@main"
        with:
          tags: "integration"
          race: "false"

  protobuf:
    name: "Generate Protobufs"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-go@v3"
        with:
          go-version: "~1.19"
      - name: "Install Go Tools"
        run: "./hack/install-tools.sh"
      - uses: "authzed/actions/buf-generate@main"
